$background-color: white;
$margin: 5px; 
$text-color: black;
$paddingInterior: 5px;
$button-color: #c71a1a;
$box-shadow: 0px 5px 5px 0px #e8e8e8, 0px 10px 10px 0px #e8e8e8;

.form {
  height: 100vh;
}

.input_title {
  background-color: $background-color; 
  margin: $margin;
  padding:$paddingInterior;
}

.input_field {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  border: 1px soli $background-color;
  padding: 25px;
  background-color: $background-color; 
  width: 40%;
  float: right;
  margin: 10%;
  height: 50%;
}

.name {
  background-color: $background-color; 
  margin: $margin;
  padding:$paddingInterior;
}

.email {
  background-color: $background-color;
  margin: $margin; 
  padding:$paddingInterior;
}

.password {
  background-color: $background-color; 
  margin: $margin;
  padding:$paddingInterior;
}

.button {
  background-color: $background-color; 
  margin: $margin;
  color: $text-color;
  padding:$paddingInterior;
  background-color: $button-color;
  box-shadow: $box-shadow;
  font-weight: 900;
}