$style-border: 1px solid red;
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:700&display=swap');
$logo-font:'Source Sans Pro', sans-serif; 
// font-family: 'Source Sans Pro', sans-serif;
.footer {
  display: flex;
  flex-direction: column;
  height: 15%;
}

.fave_btn-img {
  height: 30px;
}

.movie-card {
  margin: 0px 0px 50px 50px;
  height: 77%;
  width: 260px;
  padding: 15px; 
  box-shadow: 0px 5px 5px 0px #1a1a1a, 0px 10px 10px 0px #1a1a1a;
  border-radius: 7px;
}

.movie_title {
  font-family: 'Source Sans Pro', sans-serif;
}

.movieCard__img {
  height: 85%; 
}




