nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Source Sans Pro', sans-serif; 
}

h1 {
  justify-content: center; 
  color: #c71a1a;
}

button {
  background-color: black;
  width: 100px;
  border-radius: 5px;
  color: white;	  color: white;
  height: 35px;
  border-width: 2.5px;
  font-weight: 600;
  font-size: 13px;
  margin-right: 35px;
  margin-top: 17px;
    &:hover {
      color: #c71a1a;
      background-color: white;
      border: 0px;
    }
}

.user-name {
  text-decoration: none;
}