
* {
  margin: 0px; 
  padding: 0px; 
}

.scroll-wrapper {
  width: 70%;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  margin-top: 14%;
  height: 100vw;
}

.movies-container {
  padding: 10px;
  height: 100vh;
  display:flex;
  justify-content: center;
  flex-direction: row;
  width: fit-content;
  transform: rotate(90deg) translateY(-105vh);
  transform-origin: top left;
    & :hover {
      transition: all .2s ease-in-out;
      transform: scale(1.1)
  }  
}

