input {
  color: black;
}

h3 {
  font-family: Source Sans Pro, sans-serif;
  color: #c71a1a;
  background-color: white;
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
}

.button {
  width: 98%;
}