* {
  margin: 0px; 
  padding: 0px; 
  background-color: black;
  color: whitesmoke;
}

.App {
  text-align: center;
  display: flex; 
}

h1 {
 
  color:black; 
  display: flex;
  align-items: center;
}