* {
  box-sizing: border-box;
  margin: 0px; 
  padding: 0px; 
}

.App {
  text-align: center;
  display: flex; 
}

h1 {
  color:black; 
  display: flex;
  align-items: center;
}

Nav {
  position: fixed;
  top: 4%;
  left: 3%;
}